<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlConnectionString" value="Data Source=MyOracleDB;User Id=myUsername;Password=myPassword;Integrated Security=no;Min Pool Size=10;Connection Lifetime=120;Connection Timeout=60;"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>